@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ====================================
   共通
   ==================================== */
.inner {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1025px) {
  .inner {
    max-width: 1280px;
    padding-left: 175px;
    padding-right: 175px;
    margin: 0 auto;
  }
}

/* ====================================
   _header.scss
   ==================================== */
header {
  height: 80px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}
header.fixed {
  position: fixed;
  background: #fff;
}
@media screen and (max-width: 767px) {
  header {
    height: 56px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__inner {
    height: inherit;
    padding: 0 39px;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__logo {
  max-width: 120px;
  width: 100%;
  margin-top: 15px;
}
.header__logo:hover {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .header__logo {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}

.pc-nav {
  display: block;
  margin-left: 25px;
}
@media screen and (max-width: 767px) {
  .pc-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pc-nav {
    display: none;
  }
}
.pc-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pc-nav__item {
  color: #FFFFFF;
  display: inline-block;
  padding: 0 18px;
  position: relative;
}
.pc-nav__item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
header.fixed .pc-nav__item {
  color: #191919;
}
header.fixed .pc-nav__item:not(:first-child)::before {
  background-color: #191919;
}
.pc-nav__item:not(:first-child)::before {
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  height: 2px;
  left: -18px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 31px;
}
.pc-nav__item a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.pc-nav__item a:hover {
  color: #b8614b;
}
.pc-nav__item a span {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 1;
  margin-top: 5px;
  text-align: center;
}

.hamburger-menu {
  position: relative;
  width: 23px;
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1001;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media screen and (min-width: 1025px) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu__bar {
  background: #FFFFFF;
  height: 2px;
  left: 0;
  position: absolute;
  width: 23px;
  -webkit-transition: top 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: top 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, top 0.5s ease 0s;
  transition: transform 0.5s ease 0s, top 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.hamburger-menu__bar:nth-child(1) {
  top: 0;
}
.hamburger-menu__bar:nth-child(2) {
  top: 8px;
}
.hamburger-menu__bar:nth-child(3) {
  top: 16px;
}
.hamburger-menu.is-active .hamburger-menu__bar {
  opacity: 0;
}
header.fixed .hamburger-menu.is-active .hamburger-menu__bar {
  background: #191919;
}
.hamburger-menu.is-active .hamburger-menu__bar:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger-menu.is-active .hamburger-menu__bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.is-active .hamburger-menu__bar:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #4b6cb7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media screen and (max-width: 767px) {
  .drawer-menu {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
}
@media screen and (min-width: 1025px) {
  .drawer-menu {
    display: none;
  }
}
.drawer-menu.is-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.drawer-menu__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.drawer-menu__logo {
  width: 136px;
  top: 12px;
  left: 19px;
  display: block;
  position: absolute;
}
@media screen and (min-width: 1025px) {
  .drawer-menu__logo {
    display: none;
  }
}
.drawer-menu__list {
  margin-top: 20px;
}
.drawer-menu__item {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1;
  padding: 19px 0;
  text-align: center;
}
.drawer-menu__item a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.drawer-menu__item a:hover {
  color: #191919;
  opacity: 0.6;
}
.drawer-menu__item a span {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  margin-top: 3px;
}

.drawer-menu__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.drawer-menu__close-button.is-active {
  opacity: 1;
  visibility: visible;
}
.drawer-menu__close-button::before, .drawer-menu__close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.drawer-menu__close-button::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.drawer-menu__close-button::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
@media screen and (min-width: 1025px) {
  .drawer-menu__close-button {
    display: none;
  }
}

/* ====================================
   _main-visual.scss
   ==================================== */
.mv {
  height: 100%;
  min-height: 768px;
  padding-top: 80px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .mv {
    min-height: 667px;
    padding-top: 56px;
  }
}

.mv__image {
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100% - 80px);
  overflow: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  top: 0;
  clip-path: polygon(81% 0, 100% 0, 100% 100%, 1% 100%);
  z-index: -1;
}
@media screen and (min-width: 1025px) {
  .mv__image {
    clip-path: polygon(41% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
.mv__image img {
  -webkit-animation: main-slide 24s linear infinite;
          animation: main-slide 24s linear infinite;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mv__image img:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.mv__image img:nth-child(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.mv__image img:nth-child(3) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.mv::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background-image: linear-gradient(to right, #4b6cb7, #182848);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.mv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1035px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7%;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .mv__inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25%;
  }
}

.mv__title {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  letter-spacing: 0.02em;
  line-height: 1.166666;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
}
@media screen and (max-width: 767px) {
  .mv__title {
    font-size: 48px;
    letter-spacing: 0.96px;
    line-height: 1.2083;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  .br-pc {
    display: none;
  }
}

.mv__lead-box {
  -webkit-filter: drop-shadow(3px 6px 0px rgb(24, 40, 72));
          filter: drop-shadow(3px 6px 0px rgb(24, 40, 72));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding-top: 7%;
}
@media screen and (min-width: 768px) {
  .mv__lead-box {
    padding-top: 2%;
    gap: 14px;
  }
}
.mv__lead-box .mv__lead1 span {
  background-color: #fff;
  color: #182848;
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  padding: 17px 54px;
  clip-path: polygon(16% 0%, 100% 0%, 85% 100%, 0% 100%);
}
@media screen and (max-width: 767px) {
  .mv__lead-box .mv__lead1 span {
    font-size: 19.5px;
    padding: 10px 27px;
  }
}
.mv__lead-box .mv__lead2 span {
  background-color: #fff;
  color: #182848;
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  padding: 17px 54px;
  clip-path: polygon(10% 0%, 100% 0%, 91% 100%, 0% 100%);
}
@media screen and (max-width: 767px) {
  .mv__lead-box .mv__lead2 span {
    font-size: 19.5px;
    padding: 10px 27px;
  }
}

@-webkit-keyframes main-slide {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
  }
}

@keyframes main-slide {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
  }
}
.mv__button {
  display: block;
  margin-top: 38.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: 10;
  text-decoration: none;
  position: relative;
  padding-top: 24px;
}
.mv__button:hover {
  opacity: 0.7;
}
@media screen and (min-width: 1025px) {
  .mv__button {
    background: #182848;
    border: solid 2px #182848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 11.5%;
    max-height: 64px;
    max-width: 1016px;
  }
}
.mv__button .button {
  position: absolute;
  top: 0;
  left: 0;
  background: #182848;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  font-size: 14px;
  max-width: 74px;
  padding: 5px 13px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .mv__button .button {
    padding: 0 37px;
    max-width: 178px;
  }
}
.mv__button .mv__text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 44px;
  padding: 0 40px 0 10px;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.mv__button span {
  color: #191919;
}
@media screen and (max-width: 767px) {
  .mv__button span {
    font-size: 14px;
  }
}
.mv__button span:nth-of-type(1) {
  margin-left: 19px;
}
@media screen and (max-width: 767px) {
  .mv__button span:nth-of-type(1) {
    margin-left: 5px;
  }
}
.mv__button span:nth-of-type(2) {
  background: #b8614b !important;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  margin-left: 24px;
  padding: 8px 16px;
  display: inline-block;
  z-index: 2;
  max-width: 68px;
}
@media screen and (max-width: 767px) {
  .mv__button span:nth-of-type(2) {
    margin-left: 6px;
    padding: 4px 8px;
  }
}
.mv__button span:nth-of-type(3) {
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .mv__button span:nth-of-type(3) {
    margin-left: 10px;
  }
}
.mv__button > span:first-of-type, .mv__button > span:nth-of-type(2), .mv__button > span:nth-of-type(3) {
  clip-path: none;
  padding: 13px 0;
  width: 100%;
  background: none;
  background: #fff;
}
@media screen and (min-width: 1025px) {
  .mv__button > span:first-of-type, .mv__button > span:nth-of-type(2), .mv__button > span:nth-of-type(3) {
    clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    padding: 16px 54px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mv__button .mv__arrow {
  height: 6px;
  margin-left: 13px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  width: 16px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

/* ====================================
   _services-intro.scss
   ==================================== */
.services-intro {
  margin-top: 118px;
}
@media screen and (min-width: 1025px) {
  .services-intro {
    margin-top: 159px;
  }
}

.services-intro__group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(115deg, #f0f0f0 0%, #f0f0f0 58%, #fff 58%, #fff 90%, #f0f0f0 90%, #f0f0f0 100%);
  position: relative;
  padding: 0;
}
@media screen and (min-width: 1025px) {
  .services-intro__group {
    padding: 100px 0;
    background: linear-gradient(115deg, #f0f0f0 0%, #f0f0f0 58%, #fff 58%, #fff 90%, #f0f0f0 90%, #f0f0f0 100%);
    top: 16%;
  }
}
@media screen and (min-width: 1025px) {
  .services-intro__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.services-intro__image-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .services-intro__image-wrapper {
    width: 47%;
  }
}
.services-intro__image-wrapper img {
  display: block;
  height: auto;
  width: 100%;
}

.services-intro__text-block {
  padding: 34px 20px 48px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .services-intro__text-block {
    width: 53%;
    padding-left: 47px;
  }
}

.services-intro__category {
  color: #191919;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
@media screen and (min-width: 1025px) {
  .services-intro__category {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.services-intro__category .category__jp {
  color: #4B6CB7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
@media screen and (min-width: 1025px) {
  .services-intro__category .category__jp {
    font-size: 24px;
    font-weight: 500;
  }
}
.services-intro__category .category__jp::before {
  content: "/";
  width: auto;
  height: auto;
  color: #182848;
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services-intro__title {
  color: #191919;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 24px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .services-intro__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 40px;
  }
}

.services-intro__body {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 700;
}
@media screen and (min-width: 1025px) {
  .services-intro__body {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}
.services-intro__button {
  background-color: #4B6CB7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 16px 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin-top: 42px;
  max-width: 259px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) {
  .services-intro__button {
    font-family: 16px;
    padding: 24px 30px;
  }
}
.services-intro__button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.services-intro__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.services-intro__button:hover {
  opacity: 0.8;
}

/* ====================================
   _about-intro.scss
   ==================================== */
.about-intro {
  margin-top: 118px;
  position: relative;
  overflow: hidden;
}
.about-intro__group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  gap: 30px;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .about-intro__group {
    display: block;
    position: relative;
    max-width: none;
    margin: 0 auto;
    padding: 100px 0;
  }
}

.about-intro__image-wrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-intro__image-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 47%;
  }
}
.about-intro__image-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .about-intro__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.about-intro__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about {
    position: relative;
    left: 176px;
    z-index: 10;
    background-color: #fff;
    width: 507px;
    padding: 80px 60px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin-left: 0;
  }
}

.about-intro__category {
  color: #191919;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-top: 34px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .about-intro__category {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.about-intro__category .category__jp {
  color: #4B6CB7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
@media screen and (min-width: 1025px) {
  .about-intro__category .category__jp {
    font-size: 24px;
    font-weight: 500;
  }
}
.about-intro__category .category__jp::before {
  content: "/";
  width: auto;
  height: auto;
  color: #182848;
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-intro__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about-intro__body {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 40px;
  }
}

.about-intro__img {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .about-intro__img {
    display: none;
  }
}
.about-intro__img img {
  display: block;
  width: 100%;
  height: auto;
}

.about-intro__button {
  background-color: #4B6CB7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 16px 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin-bottom: 48px;
  max-width: 259px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) {
  .about-intro__button {
    font-family: 16px;
    padding: 24px 30px;
  }
}
.about-intro__button::after {
  content: "";
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 10px;
}
@media screen and (max-width: 767px) {
  .about-intro__button::after {
    right: 20px;
  }
}
.about-intro__button:hover {
  opacity: 0.8;
}

/* ====================================
   _works-intro.scss
   ==================================== */
.works-intro {
  margin-top: 117px;
  background: linear-gradient(114deg, #f0f0f0 0%, #f0f0f0 13%, #fff 13%, #fff 88%, #f0f0f0 88%, #f0f0f0 100%);
}

.works-intro__category {
  color: #191919;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
@media screen and (min-width: 1025px) {
  .works-intro__category {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.works-intro__category .category__jp {
  color: #4B6CB7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
@media screen and (min-width: 1025px) {
  .works-intro__category .category__jp {
    font-size: 24px;
    font-weight: 500;
  }
}
.works-intro__category .category__jp::before {
  content: "/";
  width: auto;
  height: auto;
  color: #182848;
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.works-intro__title {
  color: #182848;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .works-intro__title {
    font-size: 24px;
    line-height: 1.666;
    margin-bottom: 24px;
  }
}

.works-intro__body {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .works-intro__body {
    margin-bottom: 30px;
  }
}

.works-intro__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .works-intro__cards-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
  }
}

.works-card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .works-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
.works-card__image {
  position: relative;
}
.works-card__image img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.works-card:hover .works-card__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.works-card__number {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  background-color: #182848;
  color: #fff;
  width: 66px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 1;
  bottom: 0;
  left: 0;
  z-index: 5;
}
@media screen and (min-width: 1025px) {
  .works-card__number {
    font-size: 24px;
    top: -18px;
    left: -16px;
    font-size: 24px;
  }
}
.works-card__content {
  padding: 30px 20px;
}
@media screen and (max-width: 767px) {
  .works-card__content {
    padding: 20px 15px;
  }
}
.works-card__title {
  color: #B8614B;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.works-card__text {
  font-size: 14px;
  line-height: 1.8;
}

.works-intro__button {
  background-color: #4B6CB7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 16px 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin-bottom: 48px;
  max-width: 259px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) {
  .works-intro__button {
    font-family: 16px;
    padding: 24px 30px;
  }
}
.works-intro__button::after {
  content: "";
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 10px;
}
@media screen and (max-width: 767px) {
  .works-intro__button::after {
    right: 20px;
  }
}
.works-intro__button:hover {
  opacity: 0.8;
}

/* ====================================
   _recruit.scss
   ==================================== */
.recruit {
  background-color: #f7f7f7;
  padding: 60px 0;
}
@media screen and (min-width: 1025px) {
  .recruit {
    padding: 110px 0;
  }
}

@media screen and (min-width: 1025px) {
  .recruit-intro__group {
    max-width: none;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.recruit-intro__category {
  color: #191919;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
@media screen and (min-width: 1025px) {
  .recruit-intro__category {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.recruit-intro__category .category__jp {
  color: #4B6CB7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
@media screen and (min-width: 1025px) {
  .recruit-intro__category .category__jp {
    font-size: 24px;
    font-weight: 500;
  }
}
.recruit-intro__category .category__jp::before {
  content: "/";
  width: auto;
  height: auto;
  color: #4B6CB7;
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.recruit-intro__cards-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1025px) {
  .recruit-intro__cards-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px;
    gap: 36px;
  }
}

.recruit-card {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .recruit-card {
    overflow: visible;
  }
  .recruit-card:nth-child(1) {
    margin-top: 80px;
  }
  .recruit-card:nth-child(2) {
    margin-top: 40px;
  }
  .recruit-card:nth-child(3) {
    margin-top: 0;
  }
}
.recruit-card__image-wrapper {
  margin: 0;
  position: relative;
}
.recruit-card__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
}
.recruit-card__image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
@media screen and (min-width: 1025px) {
  .recruit-card__image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.recruit-card:hover .recruit-card__image-wrapper img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.recruit-card:hover .recruit-card__image-wrapper::after {
  background: rgba(0, 0, 0, 0.15);
}
.recruit-card__title {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: center;
  z-index: 3;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 1025px) {
  .recruit-card__title {
    position: absolute;
    bottom: -23px;
    left: 54px;
    min-width: 264px;
    background-color: #182848;
    color: #fff;
    opacity: 0.64;
    padding: 20px 16px 17px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services-intro__button {
  background-color: #4B6CB7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 16px 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin-bottom: 48px;
  max-width: 259px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) {
  .services-intro__button {
    font-family: 16px;
    padding: 24px 30px;
  }
}
.services-intro__button::after {
  content: "";
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 10px;
}
@media screen and (max-width: 767px) {
  .services-intro__button::after {
    right: 20px;
  }
}
.services-intro__button:hover {
  opacity: 0.8;
}

/* ====================================
   _contact.scss
   ==================================== */
.contact {
  background-image: url(../img/background-image-contact.jpg.png);
  /* 背景画像として指定 */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0;
  /* 上下の余白 */
  color: #fff;
  /* 文字全体を白に */
}
@media screen and (min-width: 1025px) {
  .contact {
    background-image: url(../img/background-image-contact.jpg);
    padding: 100px 0;
    /* PCで上書き */
  }
}

.contact-intro__group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .contact-intro__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.contact-intro__text-block {
  width: 53%;
  padding-left: 50px;
}
@media screen and (max-width: 767px) {
  .contact-intro__text-block {
    padding-left: 0;
    width: 100%;
  }
}

.contact-intro__category {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
@media screen and (min-width: 1025px) {
  .contact-intro__category {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.contact-intro__category .category__jp {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
@media screen and (min-width: 1025px) {
  .contact-intro__category .category__jp {
    font-size: 24px;
    font-weight: 500;
  }
}
.contact-intro__category .category__jp::before {
  content: "/";
  width: auto;
  height: auto;
  color: #fff;
  font-size: 20px;
  line-height: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-intro__body {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contact-intro__body {
    margin-bottom: 30px;
  }
}

.contact-intro__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-intro__button-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 77px;
  }
}
.contact-intro__button-box .contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 24px;
  max-width: 338 px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-intro__button-box .contact-button {
    max-width: 323px;
  }
}
.contact-intro__button-box .contact-button__icon {
  width: 20px;
  height: 14px;
  margin-left: auto;
}
.contact-intro__button-box .contact-button__icon img {
  width: 100%;
  height: auto;
}
.contact-intro__button-box .contact-button__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.contact-intro__button-box .contact-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-intro__button-box .contact-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.contact-intro__button-box .contact-button--brown {
  background-color: #B8614B;
}
.contact-intro__button-box .contact-button--black {
  background-color: #191919;
}

/* ====================================
   _footer.scss
   ==================================== */
.footer {
  background-color: #182848;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 53px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 40px;
    padding-top: 130px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
}
.footer__info .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.footer__info .footer__logo img {
  width: 140px;
}
.footer__info .footer__logo .footer__company-name {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
}
.footer__info .footer__address-list li {
  font-size: 14px;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .footer__info {
    margin-bottom: 30px;
  }
}
.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .footer__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__nav__item {
  font-size: 14px;
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .footer__nav__item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.footer__nav__item a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.footer__nav__item a:hover {
  opacity: 0.7;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  padding: 16px;
  text-align: center;
  background-color: #191919;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding: 25px;
  }
}/*# sourceMappingURL=style.css.map */